Repository exercism/website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @erikschierboom, @iHiD, @kntsoriano

🤖 Sync org-wide files to upstream repo
  .github/labels.yml
  CODE_OF_CONDUCT.md
Owners: @iHiD

Hide learning mode and new tags for joined tracks
  app/javascript/components/student/tracks-list/Track.tsx
  test/javascript/components/student/TracksList/Track.test.jsx
Owners: @erikschierboom, @iHiD, @kntsoriano

Add link for track documentation to exercise page
  app/views/tracks/exercises/show.html.haml
Owners: none

Add correct color to favorite button
  app/css/modals/mentoring-sessions.css
Owners: none

Concept map shows concept exercises first
  app/commands/user_track/generate_exercise_status_mapping.rb
  test/commands/user_track/generate_exercise_status_mappying_test.rb
Owners: @iHiD

Fix gramming on unpublishing modal
  app/javascript/components/modals/UnpublishSolutionModal.tsx
Owners: none

Fix default card not being set
  app/commands/donations/payment_intent/create_for_payment.rb
  app/commands/donations/subscription/handle_created.rb
  app/jobs/handle_stripe_webhook_job.rb
  test/commands/donations/subscription/handle_created_test.rb
  test/commands/donations/test_base.rb
Owners: @iHiD

Fix test
  test/commands/donations/payment_intent/create_for_payment_test.rb
Owners: @iHiD

Add new content role
  app/views/about/hiring.html.haml
  app/views/about/hiring_content.html.haml
Owners: none

Ensure that the HOME and END keys make the cursor go to the beginning/end of the same line on which the cursor is placed.
  app/javascript/components/common/MarkdownEditor.tsx
Owners: none

Apply suggestions from code review
  app/views/about/hiring_content.html.haml
Owners: none

Apply suggestions from code review
  app/views/about/hiring_content.html.haml
Owners: none

Further tweaak
  app/views/about/hiring_content.html.haml
Owners: none

Add new content role (#2660)
  app/views/about/hiring.html.haml
  app/views/about/hiring_content.html.haml
Owners: none

Only show revealed badges on profile page
  app/models/user.rb
  app/models/user/profile.rb
  app/views/profiles/_header.html.haml
  test/models/user/profile_test.rb
  test/models/user_test.rb
  test/system/flows/profile/user_views_profile_test.rb
Owners: @iHiD

Fix failing test
  test/system/flows/user_views_community_solutions_test.rb
Owners: @iHiD

Ensure that the HOME and END keys make the cursor go to the beginning/end of the same line on which the cursor is placed. (#2663)
  app/javascript/components/common/MarkdownEditor.tsx
  test/system/flows/user_views_community_solutions_test.rb
Owners: @iHiD

Restrict donations to signed in users
  app/views/components/footer/shared.html.haml
  app/views/donations/index.html.haml
Owners: none

Update app/views/donations/index.html.haml
  app/views/donations/index.html.haml
Owners: none

Fix default card not being set (#2659)
  app/commands/donations/payment_intent/create_for_payment.rb
  app/commands/donations/subscription/handle_created.rb
  app/jobs/handle_stripe_webhook_job.rb
  test/commands/donations/payment_intent/create_for_payment_test.rb
  test/commands/donations/subscription/handle_created_test.rb
  test/commands/donations/test_base.rb
Owners: @iHiD

Restrict donations to signed in users (#2665)
  app/views/components/footer/shared.html.haml
  app/views/donations/index.html.haml
Owners: none

Add revealed_badges association
  app/models/user.rb
  test/models/user_test.rb
Owners: @iHiD

Add flow test for last touched tracks on dashboard
  test/system/flows/user_views_dashboard_test.rb
Owners: @iHiD

Use revealed badges on dashboard page
  app/controllers/dashboard_controller.rb
  app/controllers/profiles_controller.rb
  app/models/user.rb
  app/models/user/profile.rb
  app/views/profiles/_header.html.haml
  test/system/flows/user_views_dashboard_test.rb
Owners: @iHiD

Only show revealed badges on profile and dashboard pages (#2664)
  app/controllers/dashboard_controller.rb
  app/controllers/profiles_controller.rb
  app/models/user.rb
  app/models/user/profile.rb
  app/views/profiles/_header.html.haml
  test/models/user/profile_test.rb
  test/models/user_test.rb
  test/system/flows/profile/user_views_profile_test.rb
  test/system/flows/user_views_dashboard_test.rb
Owners: @iHiD

Increment num_comments when a new comment is added
  app/models/solution/comment.rb
  test/commands/solution/comment/create_test.rb
Owners: @iHiD

Show concept exercises in practice mode
  app/commands/exercise/search.rb
  test/commands/exercise/search_test.rb
Owners: @iHiD

Fix cc-by-nc-sa doc link
  config/routes.rb
  test/controllers/legacy_routes_test.rb
Owners: @iHiD

Update app/views/tracks/exercises/show.html.haml
  app/views/tracks/exercises/show.html.haml
Owners: none

Show concept exercises in practice mode (#2672)
  app/commands/exercise/search.rb
  test/commands/exercise/search_test.rb
Owners: @iHiD

Fix gramming on unpublishing modal (#2658)
  app/javascript/components/modals/UnpublishSolutionModal.tsx
Owners: none

Concept map shows concept exercises first (#2657)
  app/commands/user_track/generate_exercise_status_mapping.rb
  test/commands/user_track/generate_exercise_status_mappying_test.rb
Owners: @iHiD

Add correct color to favorite button (#2656)
  app/css/modals/mentoring-sessions.css
Owners: none

Hide learning mode and new tags for joined tracks (#2654)
  app/javascript/components/student/tracks-list/Track.tsx
  test/javascript/components/student/TracksList/Track.test.jsx
Owners: @erikschierboom, @iHiD, @kntsoriano

Increment num_comments when a new comment is added (#2670)
  app/models/solution/comment.rb
  test/commands/solution/comment/create_test.rb
Owners: @iHiD

Fix invalid test file name
  test/controllers/api/solutions/submission_test_runs_controller_test.rb
Owners: @iHiD

Round average test duration
  app/models/track.rb
  test/models/track_test.rb
Owners: @iHiD

Fix cc-by-nc-sa doc link (#2673)
  config/routes.rb
  test/controllers/legacy_routes_test.rb
Owners: @iHiD

Add link for track documentation to exercise page (#2655)
  app/views/tracks/exercises/show.html.haml
Owners: none

Correctly calculate average test time
  app/controllers/api/solutions/submission_test_runs_controller.rb
  app/helpers/react_components/editor.rb
  app/javascript/components/editor/Props.tsx
  app/javascript/components/editor/ResultsPanel.tsx
  app/javascript/components/editor/TestRunSummary.tsx
  app/javascript/components/editor/TestRunSummaryContainer.tsx
  app/javascript/components/editor/types.ts
  app/javascript/components/modals/TestRunModal.tsx
  app/javascript/components/student/iterations-list/TestsInformation.tsx
  test/javascript/components/Editor/features/buildEditor.ts
Owners: @iHiD

.github/CODEOWNERS:

# JS files
*.js       @erikschierboom @iHiD @kntsoriano 
*.jsx      @erikschierboom @iHiD @kntsoriano 

# Ruby files
*.rb      @iHiD
*.ru      @iHiD
Gemfile*  @iHiD
config/   @iHiD
db/       @iHiD
lib/      @iHiD
Rakefile  @iHiD

# Docker and deployment files
docker/   @iHiD
Procfile* @iHiD
.github   @iHiD

# Bin files
bin/     @iHiD
