Repository exercism/website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @erikschierboom, @iHiD, @kntsoriano

Fix failing test
  test/commands/iteration/create_test.rb
Owners: @iHiD

Working on allowing more hints
  app/javascript/components/modals/HintsModal.tsx
  app/javascript/components/modals/TaskHintsModal.tsx
  app/serializers/serialize_exercise_assignment.rb
  test/serializers/serialize_exercise_assignment_test.rb
Owners: @iHiD

Add badge for track completion
  app/commands/solution/complete.rb
  app/images/icons/completer.svg
  app/models/badges/completer_badge.rb
  test/commands/solution/complete_test.rb
  test/factories/badges.rb
  test/models/badges/completer_badge_test.rb
Owners: @iHiD

Keep track of concept exercise progress
  app/models/user_track.rb
  test/models/user_track_test.rb
Owners: @iHiD

Add conceptual badge
  app/commands/solution/complete.rb
  app/images/icons/conceptual.svg
  app/models/badges/conceptual_badge.rb
  app/models/user_track/summary.rb
  test/commands/solution/complete_test.rb
  test/factories/badges.rb
  test/models/badges/conceptual_badge_test.rb
Owners: @iHiD

Rewrite badges check to not care for order
  test/commands/iteration/create_test.rb
  test/commands/mentor/discussion/finish_by_student_test.rb
  test/commands/solution/complete_test.rb
  test/commands/solution/create_test.rb
  test/commands/user/bootstrap_test.rb
Owners: @iHiD

Fix nil-reference in files controller if all iterations are deleted (#2581)
  app/controllers/api/v1/files_controller.rb
  test/commands/iteration/create_test.rb
  test/controllers/api/v1/files_controller_test.rb
Owners: @iHiD

Only award conceptual badge for tracks with course
  app/models/badges/conceptual_badge.rb
  test/models/badges/conceptual_badge_test.rb
Owners: @iHiD

Don't redirect to /site.webmanifest after GitHub registration (#2575)
  app/controllers/application_controller.rb
  test/system/flows/user_registration_test.rb
Owners: @iHiD

Fix failing test
  test/commands/mentor/discussion/finish_by_student_test.rb
Owners: @iHiD

Remove maintainer/admin guard for issue author reputation (#2576)
  app/commands/user/reputation_token/award_for_issue.rb
  test/commands/user/reputation_token/award_for_issue_test.rb
Owners: @iHiD

Fix horizontal overflow in iterations list
  app/css/components/iterations-footer.css
Owners: none

Allow searching tracks by slug
  app/commands/track/search.rb
  test/commands/track/search_test.rb
Owners: @iHiD

Allow searching exercises by slug
  app/commands/exercise/search.rb
  test/commands/exercise/search_test.rb
Owners: @iHiD

Allow searching for track or exercise slug (#2583)
  app/commands/exercise/search.rb
  app/commands/track/search.rb
  test/commands/exercise/search_test.rb
  test/commands/track/search_test.rb
Owners: @iHiD

Sync has_analyzer and has_representer
  app/commands/git/sync_track.rb
  test/commands/git/sync_track_test.rb
Owners: @iHiD

Fix failing test
  test/system/components/student/exercise_list_test.rb
Owners: @iHiD

Sync has_analyzer and has_representer (#2586)
  app/commands/git/sync_track.rb
  test/commands/git/sync_track_test.rb
  test/system/components/student/exercise_list_test.rb
Owners: @iHiD

Update gems
  Gemfile.lock
Owners: @iHiD

Fix CSS that's broken on lis in instructions
  app/css/components/code-pane.css
Owners: none

Fix horizontal overflow in iterations list (#2585)
  app/css/components/iterations-footer.css
Owners: none

Fix CSS that's broken on lis in instructions (#2589)
  app/css/components/code-pane.css
Owners: none

Fix textblock margins
  app/css/components/textual-content.css
Owners: none

Update gems (#2588)
  Gemfile.lock
Owners: @iHiD

Revert "Fix horizontal overflow in iterations list (#2585)"
  app/css/components/iterations-footer.css
Owners: none

Revert "Fix horizontal overflow in iterations list (#2585)" (#2602)
  app/css/components/iterations-footer.css
Owners: none

Update highlightjs packages
  package.json
  yarn.lock
Owners: none

Update highlightjs tests to work with latest version
  test/javascript/components/mentoring/discussion/discussion-post/DiscussionPostView.test.tsx
  test/javascript/utils/highlight.test.jsx
Owners: @erikschierboom, @iHiD, @kntsoriano

Remove
  app/serializers/serialize_exercise_assignment.rb
Owners: @iHiD

Update highlightjs packages (#2615)
  package.json
  test/javascript/components/mentoring/discussion/discussion-post/DiscussionPostView.test.tsx
  test/javascript/utils/highlight.test.jsx
  yarn.lock
Owners: @erikschierboom, @iHiD, @kntsoriano

Stub out hints example
  app/serializers/serialize_exercise_assignment.rb
Owners: @iHiD

Use rep label
  Gemfile
  Gemfile.lock
  app/commands/user/reputation_token/award_for_pull_request_author.rb
  test/commands/user/reputation_token/award_for_pull_request_author_test.rb
Owners: @iHiD

Support x:rep label
  app/models/github/issue_label.rb
  test/models/github/issue_label_test.rb
Owners: @iHiD

Support x:rep instead of x:size
  app/commands/user/reputation_token/award_for_issue.rb
  app/commands/user/reputation_token/award_for_pull_request_reviewers.rb
  test/commands/user/reputation_token/award_for_issue_test.rb
  test/commands/user/reputation_token/award_for_pull_request_author_test.rb
  test/commands/user/reputation_token/award_for_pull_request_reviewers_test.rb
Owners: @iHiD

Submission analysis status takes into account has_representer and has_analyzer
  app/models/submission.rb
  test/models/submission_test.rb
Owners: @iHiD

Add comment for materialization of has_analyzer and has_representer
  app/models/submission.rb
Owners: @iHiD

Fix styling
  app/css/modals/editor-hints.css
Owners: none

Fix textblock margins (#2592)
  app/css/components/textual-content.css
Owners: none

Use x:rep label instead of x:size for reputation (#2587)
  Gemfile
  Gemfile.lock
  app/commands/user/reputation_token/award_for_issue.rb
  app/commands/user/reputation_token/award_for_pull_request_author.rb
  app/commands/user/reputation_token/award_for_pull_request_reviewers.rb
  app/models/github/issue_label.rb
  test/commands/user/reputation_token/award_for_issue_test.rb
  test/commands/user/reputation_token/award_for_pull_request_author_test.rb
  test/commands/user/reputation_token/award_for_pull_request_reviewers_test.rb
  test/models/github/issue_label_test.rb
Owners: @iHiD

Submission analysis status takes into account has_representer and has_analyzer (#2621)
  app/models/submission.rb
  test/models/submission_test.rb
Owners: @iHiD

.github/CODEOWNERS:

# JS files
*.js       @erikschierboom @iHiD @kntsoriano 
*.jsx      @erikschierboom @iHiD @kntsoriano 

# Ruby files
*.rb      @iHiD
*.ru      @iHiD
Gemfile*  @iHiD
config/   @iHiD
db/       @iHiD
lib/      @iHiD
Rakefile  @iHiD

# Docker and deployment files
docker/   @iHiD
Procfile* @iHiD
.github   @iHiD

# Bin files
bin/     @iHiD
