Repository exercism/website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @erikschierboom, @iHiD, @kntsoriano

This fixes rugged 1.3.1 not installing on macOS Catalina. (#2521)
  Gemfile.lock
Owners: @iHiD

Update icon
  app/images/icons/die-unendliche-geschichte.svg
Owners: none

Rename skip_email to send_email
  app/commands/user/acquired_badge/create.rb
  app/jobs/award_badge_job.rb
  test/commands/user/acquired_badge/create_test.rb
  test/jobs/award_badge_job_test.rb
Owners: @iHiD

Add more logs to production
  config/environments/production.rb
Owners: @iHiD

Add icon
  app/images/icons/new-years-resolution.svg
Owners: none

Allow skip sending email when awarding badges (#2504)
  app/commands/user/acquired_badge/create.rb
  app/jobs/award_badge_job.rb
  test/commands/user/acquired_badge/create_test.rb
  test/jobs/award_badge_job_test.rb
Owners: @iHiD

Add icons
  app/images/icons/all-your-base.svg
  app/images/icons/lackadaisical.svg
  app/images/icons/whatever.svg
Owners: none

Add v1 and v2 badges (#2500)
  app/images/icons/v1.svg
  app/images/icons/v2.svg
  app/javascript/components/modals/BadgeModal.tsx
  app/models/badges/v1_badge.rb
  app/models/badges/v2_badge.rb
  test/factories/badges.rb
  test/models/badges/v1_badge_test.rb
  test/models/badges/v2_badge_test.rb
Owners: @iHiD

Add Die Unendliche Geschichte badge (#2507)
  app/commands/iteration/create.rb
  app/images/icons/die-unendliche-geschichte.svg
  app/models/badges/die_unendliche_geschichte_badge.rb
  test/commands/iteration/create_test.rb
  test/factories/badges.rb
  test/models/badges/die_unendliche_geschichte_badge_test.rb
Owners: @iHiD

Add new years resolution badge (#2508)
  app/commands/solution/create.rb
  app/images/icons/new-years-resolution.svg
  app/models/badges/new_years_resolution_badge.rb
  test/commands/solution/create_test.rb
  test/factories/badges.rb
  test/models/badges/new_years_resolution_badge_test.rb
Owners: @iHiD

Show general hints if there are no task-based hints (#2514)
  app/javascript/components/modals/HintsModal.tsx
  test/javascript/components/modals/HintsModal.test.jsx
Owners: @erikschierboom, @iHiD, @kntsoriano

Add exercise-specific badges (#2506)
  app/commands/solution/complete.rb
  app/images/icons/all-your-base.svg
  app/images/icons/lackadaisical.svg
  app/images/icons/whatever.svg
  app/models/badges/all_your_base_badge.rb
  app/models/badges/lackadaisical_badge.rb
  app/models/badges/whatever_badge.rb
  test/commands/solution/complete_test.rb
  test/factories/badges.rb
  test/models/badges/all_your_base_badge_test.rb
  test/models/badges/lackadaisical_badge_test.rb
  test/models/badges/whatever_badge_test.rb
Owners: @iHiD

Add icon
  app/images/icons/mentor.svg
Owners: none

Add badge for mentoring of student (#2515)
  app/commands/mentor/discussion/finish_by_student.rb
  app/images/icons/mentor.svg
  app/models/badges/mentor_badge.rb
  test/commands/mentor/discussion/finish_by_student_test.rb
  test/factories/badges.rb
  test/models/badges/mentor_badge_test.rb
Owners: @iHiD

Show other contributions on profile and journey page
  app/commands/user/reputation_period/mark_for_new_token.rb
  app/controllers/api/profiles/contributions_controller.rb
  app/css/pages/profile-contributions.css
  app/helpers/react_components/profile/contributions_list.rb
  app/javascript/components/profile/ContributionsList.tsx
  app/javascript/components/profile/contributions-list/OtherContributionsList.tsx
  app/models/user/reputation_tokens/arbitrary_token.rb
  config/routes.rb
  test/factories/user/reputation_tokens.rb
  test/models/user/reputation_tokens/arbitrary_token_test.rb
  test/system/flows/profile/user_views_contributions_test.rb
Owners: @iHiD

Add test for arbitrary token linked to track
  test/models/user/reputation_tokens/arbitrary_token_test.rb
Owners: @iHiD

Show contributions tab if only misc tokens exist
  app/models/user/profile.rb
  test/models/user/profile_test.rb
Owners: @iHiD

Allow awarding arbitrary reputation
  app/models/user/reputation_period.rb
  app/models/user/reputation_tokens/arbitrary_token.rb
  config/locales/user_reputation_tokens/en.yml
  test/models/user/reputation_tokens/arbitrary_token_test.rb
Owners: @iHiD

Use Ruby 3 method shorthand syntax
  app/models/user/reputation_tokens/arbitrary_token.rb
Owners: @iHiD

Remove reputation period
  app/models/user/reputation_period.rb
Owners: @iHiD

Add v3 pioneer badge
  app/models/badges/v3_pioneer_badge.rb
  test/factories/badges.rb
  test/models/badges/v3_pioneer_badge_test.rb
Owners: @iHiD

Send email
  app/models/badges/v3_pioneer_badge.rb
  test/models/badges/v3_pioneer_badge_test.rb
Owners: @iHiD

Add icon
  app/images/icons/v3-pioneer.svg
Owners: none

Make awarding of badge case-insensitive
  app/models/badges/v3_pioneer_badge.rb
  test/models/badges/v3_pioneer_badge_test.rb
Owners: @iHiD

Add researcher badge
  app/images/icons/researcher.svg
  app/models/badges/researcher_badge.rb
  test/factories/badges.rb
  test/models/badges/researcher_badge_test.rb
Owners: @iHiD

Update researcher icon
  app/images/icons/researcher.svg
Owners: none

Update icon
  app/images/icons/v3-pioneer.svg
Owners: none

Link to badges page from overview
  app/views/dashboard/show.html.haml
  app/views/profiles/_header.html.haml
Owners: none

Shorten badge descriptions
  app/models/badges/all_your_base_badge.rb
  app/models/badges/anybody_there_badge.rb
  app/models/badges/contributor_badge.rb
  app/models/badges/die_unendliche_geschichte_badge.rb
  app/models/badges/growth_mindset_badge.rb
  app/models/badges/lackadaisical_badge.rb
  app/models/badges/member_badge.rb
  app/models/badges/mentor_badge.rb
  app/models/badges/new_years_resolution_badge.rb
  app/models/badges/rookie_badge.rb
  app/models/badges/supporter_badge.rb
  app/models/badges/v1_badge.rb
  app/models/badges/v2_badge.rb
  app/models/badges/whatever_badge.rb
  test/models/badges/all_your_base_badge_test.rb
  test/models/badges/anybody_there_badge_test.rb
  test/models/badges/contributor_badge_test.rb
  test/models/badges/die_unendliche_geschichte_badge_test.rb
  test/models/badges/growth_mindset_badge_test.rb
  test/models/badges/lackadaisical_badge_test.rb
  test/models/badges/member_badge_test.rb
  test/models/badges/mentor_badge_test.rb
  test/models/badges/new_years_resolution_badge_test.rb
  test/models/badges/rookie_badge_test.rb
  test/models/badges/supporter_badge_test.rb
  test/models/badges/v1_badge_test.rb
  test/models/badges/v2_badge_test.rb
  test/models/badges/whatever_badge_test.rb
  test/serializers/serialize_user_acquired_badges_test.rb
Owners: @iHiD

Update badges
  app/images/icons/all-your-base.svg
  app/images/icons/new-years-resolution.svg
  app/images/icons/v2.svg
Owners: none

Shorten description
  app/models/badges/v3_pioneer_badge.rb
  test/models/badges/v3_pioneer_badge_test.rb
Owners: @iHiD

Shorten description
  app/models/badges/researcher_badge.rb
  test/models/badges/researcher_badge_test.rb
Owners: @iHiD

Update description
  app/models/badges/v3_pioneer_badge.rb
  test/models/badges/v3_pioneer_badge_test.rb
Owners: @iHiD

Update description
  app/models/badges/researcher_badge.rb
  test/models/badges/researcher_badge_test.rb
Owners: @iHiD

Use github_username
  app/models/badges/researcher_badge.rb
  test/models/badges/researcher_badge_test.rb
Owners: @iHiD

Use github_username
  app/models/badges/v3_pioneer_badge.rb
  test/models/badges/v3_pioneer_badge_test.rb
Owners: @iHiD

Shorten badge descriptions (#2532)
  app/models/badges/all_your_base_badge.rb
  app/models/badges/anybody_there_badge.rb
  app/models/badges/contributor_badge.rb
  app/models/badges/die_unendliche_geschichte_badge.rb
  app/models/badges/growth_mindset_badge.rb
  app/models/badges/lackadaisical_badge.rb
  app/models/badges/member_badge.rb
  app/models/badges/mentor_badge.rb
  app/models/badges/new_years_resolution_badge.rb
  app/models/badges/rookie_badge.rb
  app/models/badges/supporter_badge.rb
  app/models/badges/v1_badge.rb
  app/models/badges/v2_badge.rb
  app/models/badges/whatever_badge.rb
  test/models/badges/all_your_base_badge_test.rb
  test/models/badges/anybody_there_badge_test.rb
  test/models/badges/contributor_badge_test.rb
  test/models/badges/die_unendliche_geschichte_badge_test.rb
  test/models/badges/growth_mindset_badge_test.rb
  test/models/badges/lackadaisical_badge_test.rb
  test/models/badges/member_badge_test.rb
  test/models/badges/mentor_badge_test.rb
  test/models/badges/new_years_resolution_badge_test.rb
  test/models/badges/rookie_badge_test.rb
  test/models/badges/supporter_badge_test.rb
  test/models/badges/v1_badge_test.rb
  test/models/badges/v2_badge_test.rb
  test/models/badges/whatever_badge_test.rb
  test/serializers/serialize_user_acquired_badges_test.rb
Owners: @iHiD

Update badges (#2533)
  app/images/icons/all-your-base.svg
  app/images/icons/new-years-resolution.svg
  app/images/icons/v2.svg
Owners: none

Add researcher badge (#2529)
  app/images/icons/researcher.svg
  app/models/badges/researcher_badge.rb
  test/factories/badges.rb
  test/models/badges/researcher_badge_test.rb
Owners: @iHiD

Add v3 pioneer badge (#2527)
  app/images/icons/v3-pioneer.svg
  app/models/badges/v3_pioneer_badge.rb
  test/factories/badges.rb
  test/models/badges/v3_pioneer_badge_test.rb
Owners: @iHiD

.github/CODEOWNERS:

# JS files
*.js       @erikschierboom @iHiD @kntsoriano 
*.jsx      @erikschierboom @iHiD @kntsoriano 

# Ruby files
*.rb      @iHiD
*.ru      @iHiD
Gemfile*  @iHiD
config/   @iHiD
db/       @iHiD
lib/      @iHiD
Rakefile  @iHiD

# Docker and deployment files
docker/   @iHiD
Procfile* @iHiD
.github   @iHiD

# Bin files
bin/     @iHiD
